* {
  text-align: center;
  font-size: 50px;
}

#calculator {
  width: 350px;
  height: 600px;
  margin: auto;
  border: 1px solid black;
}

#calculator-display {
  height: 100px;
  text-align: end;
}

#numbers {
  display: grid;
  width: 75%;
  grid-template-columns: auto auto auto;
}

[data-number="0"] {
  grid-column-end: span 3;
}
