* {
  text-align: center;
  font-size: 50px;
}

#calculator {
  width: 350px;
  height: 600px;
  margin: auto;
  border: 1px solid black;
}

#calculator-display {
  border: 1px solid black;
  height: 100px;
  text-align: end;
}
