* {
  text-align: center;
  font-family: "Unbounded", cursive;
  font-size: 45px;
}

#calculator {
  width: 350px;
  height: 600px;
  margin: auto;
  border: 1px solid black;
}

#calculator-display {
  height: 100px;
  text-align: end;
}

#numbers-and-operators {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

[data-number="0"] {
  grid-column-end: span 3;
}

[data-operator="clear"],
[data-operator="equal"] {
  grid-column-start: span 2;
}
